// Place all the styles related to the Prelogin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body.prelogin_index {
  margin: 0 !important;
}

* {
  font-family: 'Roboto', sans-serif;
}

.home-background-img-container img {
  width: 100%;
  height: auto;
}

.home-heading h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.home-main-container {
  margin-top: 12em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .home-table-container {
    width: 70%;
    -webkit-box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
          box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
    div.home-table-title {
      height: 5em;
      font-size: 1.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        width: 100%;
        margin: 0;
      }
    }
    ul.home-products-list {
      background-color: hsla(0, 0%, 70%, 0.1);
      list-style-type: none;
      padding: 2em 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        padding: 1em 2em;
        text-align: center;
      }
    }
  }
}

.home-login {
  margin: 5em;
  display: flex;
  justify-content: center;
  a {
    color: teal;
    padding: 0.75em;
    border: 0.15em solid grey;
    border-radius: 1.25em;
    font-size: 1.5rem;
    text-decoration: none;
  }
  a:visited {
    color: teal;
  }
  a:hover {
    background-color: teal;
    color: white;
    border: 0.15em solid white;
  }
}
